body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(images/background.jpg);
	background-attachment: scroll;
	background-position: top;
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	font-family: Tahoma;
	font-size: 12px;
	color: #0F4F5B;
}

a:link, a:visited {
	color: #0F4F59;
	text-decoration: none;
	border: none;
}

a:hover, a:active {
	text-decoration: none;
	color: #2A7473;
	border: none;
}

a.head:link, a.head:visited {
	color: #D2F9F6;
	text-decoration: none;
	font-weight: bold;
	width: 102px;
	height: 37px;
	border: none;
}

a.head:hover, a.head:active {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	width: 102px;
	height: 37px;
	border: none;
}

td.off {
	background-image: url(images/service_08.jpg);
	color: #D2F9F6;
}

td.on {
	background-image: url(images/service_06.jpg);
	color: #FFFFFF;
}

#menu {
	width: 846px;
	height: 37px;
	padding: 0px;
}

#menu-left {
	width: 64px;
	height: 37px;
	float: left;
	background: url(images/service_04.jpg) 0 0 no-repeat;
	padding: 0px;
	margin: 0px;
}

#menu-right {
	width: 64px;
	height: 37px;
	float: left;
	background: url(images/service_10.jpg) right no-repeat;
	padding: 0px;
	margin: 0px;
}

ul#nav {
	width: 713px;
	height: 37px;
	background: url(images/service_07.jpg) 0 0 repeat-x;
	text-align: center;
	vertical-align: middle;
	float: left;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 2px;
	margin: 0px;
}

ul#nav li {
	display: inline;
	padding: 0px;
	margin: 0px;
}

ul#nav li a {
	float: left;
	display: block;
	background: url(images/service_08.jpg) center top no-repeat;
	color: #D2F9F6;
	text-decoration: none;
	font-weight: bold;
	height: 37px;
	vertical-align: middle;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 10px;
	margin: 0px;
	width: 99px;
}

ul#nav li a:hover, ul#nav li#active a {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	background: url(images/service_06.jpg) repeat-x;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 10px;
	margin: 0px;
}

ul#nav li span {
	display: inline-block;
	background: url(images/service_08.jpg) repeat-x;
	padding: 0px;
	margin: 0px;
	vertical-align: middle;
}

td.menu2 {
	width: 196px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-top: 5px;
}

td.head2 {
	height: 35px;
	padding-left: 15px;
	font-weight: bold;
}